@import '@/styles/mixins.scss';
@import '@/styles/vars.scss';

.section {
	position: relative;

	@include bp($desktop, min) {
		padding: 10rem;
	}

	@include bp($desktop - 1) {
		padding: 6rem 2rem;
	}

	&.dark {
		background-color: $gray-light;
	}
}
