@import '@/styles/vars.scss';
@import '@/styles/mixins.scss';

.poster {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 30rem;

	clip-path: ellipse(100% 100% at 50% 0%);
}

.posterImage {
	object-fit: cover;
}

.mainPhoto {
	position: relative;
	width: 32rem;
	margin: 4rem auto;
	aspect-ratio: 1;

	border-radius: 50%;
	border: 1.4rem solid $white;
	overflow: hidden;

	@include bp($desktop, min) {
		margin: 2rem auto;
	}

	@include bp($desktop - 1) {
		margin: 1rem auto;
	}
}

.mainPhotoImage {
	object-fit: cover;
}

.title {
	line-height: 1.2;
	text-align: center;
	color: $gray-dark;

	@include bp($desktop, min) {
		font-size: 4rem;
	}

	@include bp($desktop - 1) {
		font-size: 3rem;
	}
}

.years {
	display: flex;
	justify-content: center;

	font-size: 2.2rem;
	text-align: center;

	&:not(:last-child) {
		margin-bottom: 2rem;
	}
}

.position {
	font-size: 2rem;
	font-weight: 500;
	text-align: center;

	@include bp($desktop, min) {
		font-size: 2.4rem;
	}

	@include bp($desktop - 1) {
		font-size: 2rem;
	}
}
