@import './mixins.scss';
@import './vars.scss';

html {
	box-sizing: border-box;
	overflow-x: hidden;
	scroll-behavior: smooth;

	font-size: 10px;

	@include bp($desktop, $tablet) {
		// font-size: calc(100vw / 1024 * 10);
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: var(--font-montserrat);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.6;
	color: $gray;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.main {
	overflow: hidden;
}

.backdrop {
	position: absolute;
	inset: 0;
	z-index: 10;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: $white;
}

.logo {
	position: relative;
	width: 20rem;
	height: 20rem;
}
