$black: #000000;
$white: #ffffff;
$gray: #4b4b4b;
$gray-dark: #2b2b2b;
$gray-light: #f5f5f5;
$gray-light-2: #d2d2d2;
$primary: #ed9b02;
$primary-dark: #b07507;

$desktop_xl: 1920px;
$desktop: 1441px;
$tablet_max: 1024px;
$tablet_min: 768px;
$mobile: 375px;
